{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'produtos/style.css' %}">
<div class="header">
    <a class="logo">Aplicação Django</a>
    <div class="header-right">
        <a href="{% url 'paineis:index' %}">Dashboard</a>
        <a href="{% url 'produtos:index' %}">Produtos</a>
        <a href="{% url 'vendas:index' %}">Vendas</a>
    </div>
</div>

{% if produto %}
<div class="dadosForm">
    <form action="{% url 'produtos:finalizaredicao'  produto.id %}" method="POST" class="formulario">
        {% csrf_token %}

            <p class="inputParagrafo">
                <span class="descricao">Nome:</span>
                <input tpye='text' name='nome' class="InputText" value="{{produto.prod_Nome}}">
            </p>
            <p class="inputParagrafo">
                <span class="descricao">Preço:</span>
                <input tpye='number' name='preco' class="InputText" value="{{produto.prod_Preco}}">
            </p>
            <p class="inputParagrafo">
                <span class="descricao">Codigo:</span>
                <input tpye='text' name='codigo' class="InputText" value="{{produto.prod_Codigo}}">
            </p>
            <p class="inputParagrafo">
                <span class="descricao">Fornecedor:</span>
                <input tpye='text' name='fornecedor' class="InputText" value="{{produto.prod_Fornecedor}}">
            </p>
            <p class="inputParagrafo">
                <span class="descricao">Total no estoque:</span>
                <input tpye='text' name='total_estoque' class="InputText" value="{{produto.prod_Total_estoque}}">
            </p>
            <p class="inputParagrafo">
                <input type="submit" value="Editar" class="btnOk">
            </p>
                
    </form>
</div>
{% endif %}