{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'produtos/style.css' %}">
<div class="header">
    <a class="logo">Aplicação Django</a>
    <div class="header-right">
        <a href="{% url 'paineis:index' %}">Dashboard</a>
        <a href="{% url 'produtos:index' %}">Produtos</a>
        <a href="{% url 'vendas:index' %}">Vendas</a>
    </div>
</div>

{% if listaProdutos %}
    <table class="tabelaProduto">
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Quantidade est.</th>
            <th>Ação</th>
        </tr>
        {% for produto in listaProdutos %}
            <tr>
                <td>{{produto.prod_Nome}}</td>
                <td>R${{produto.prod_Preco}}</td>
                <td>{{produto.prod_Total_estoque}}</td>
                <td>
                    <a href="{% url 'produtos:excluir' produto.id %}" class="btnExcluir">Excluir</a>
                    <a href="{% url 'produtos:editar' produto.id %}" class="btnEditar">Editar</a>
                </td>
            </tr>
        {% endfor %}
    </table>      
{% endif %}
{% if error_message %}
<h2>{{error_message}}</h2>
{% endif %}
<div class="dadosForm">
    <p class="inputParagrafo">
        <a href="{% url 'produtos:novoProduto' %}"><input type="button" href="#" value="Novo Produto" class="btnOk"></a>
    </p>
</div>