{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'produtos/style.css' %}">
<div class="header">
    <a class="logo">Aplicação Django</a>
    <div class="header-right">
        <a href="{% url 'produtos:index' %}">Dashboard</a>
        <a href="{% url 'produtos:index' %}">Produtos</a>
        <a href="#">Vendas</a>
    </div>
</div>
<div class="dadosForm">
    <form action="{% url 'produtos:cadastro' %}" method="POST" class="formulario">
        {% csrf_token %}

            <p class="inputParagrafo">
                <span class="descricao">Nome:</span>
                <input tpye='text' name='nome' class="InputText">
            </p>
            <p class="inputParagrafo">
                <span class="descricao">Preço:</span>
                <input tpye='text' name='preco' class="InputText">
            </p>
            <p class="inputParagrafo">
                <span class="descricao">Codigo:</span>
                <input tpye='text' name='codigo' class="InputText">
            </p>
            <p class="inputParagrafo">
                <span class="descricao">Fornecedor:</span>
                <input tpye='text' name='fornecedor' class="InputText">
            </p>
            <p class="inputParagrafo">
                <span class="descricao">Total no estoque:</span>
                <input tpye='text' name='total_estoque' class="InputText">
            </p>
            <p class="inputParagrafo">
                <input type="submit" value="Cadastrar" class="btnOk">
            </p>
                
    </form>
</div>